{%- assign image = page.header | default: site.header -%}
{%- assign dark = page.header-dark | default: site.header-dark | default: true -%}

{%- assign svg = site.static_files | where: "path", "images/logo.svg" | first -%}
{%- assign png = site.static_files | where: "path", "images/logo.png" | first -%}
{%- assign jpg = site.static_files | where: "path", "images/logo.jpg" | first -%}
{%- assign logo = svg | default: png | default: jpg -%}

<header class="background" 
        style="--image: url('{{ image | relative_url | uri_escape }}')"
        {% if dark %}data-dark="{{ dark }}"{% endif %}
        {% if page.url == '/' %}data-big{% endif %}>

  <a href="{{ '/' | relative_url }}" class="home">
    {% if logo %}
      <span class="logo">
        {% if svg %}
          <img src="{{ svg.path | relative_url }}" alt="{{ site.title | default: 'Logo' }}">
        {% else %}
          <img src="{{ logo.path | relative_url }}" alt="{{ site.title | default: 'Logo' }}">
        {% endif %}
      </span>
    {% endif %}
    
    {% if site.logo-text != false %}
      <span class="title-text" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          <span class="title">{{ site.title }}</span>
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span class="subtitle">{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="Show/hide navigation">

  <nav>
    {%- assign pages = site.pages | where_exp: "item", "item.nav" | sort: "nav.order" -%}
    {%- for nav_page in pages -%}
      <a href="{{ nav_page.url | relative_url }}"
         data-tooltip="{{ nav_page.nav.tooltip | default: nav_page.title | xml_escape }}">
        {{ nav_page.nav.title | default: nav_page.title }}
      </a>
    {%- endfor -%}
  </nav>
</header>